// Buttons

input[type="submit"], button, a.button, input[type="button"], button.button, input.button {
	//resetting
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	background-color:@gray;
	color:@white;
	font-family: @sans;
	text-transform: uppercase;
    letter-spacing: 1px;
	padding: 0.5em;
	border: solid 1px @black;
	cursor: pointer;
    font-size: 1rem;
	.backgroundTrans;
}

input[type="submit"]:hover, button:hover, a.button:hover, input[type="submit"]:hover, button.button:hover {
	//resetting
	box-shadow: none;
	border-color:@black;
	background-color: lighten(@gray, 8%);
}
button, .button   {margin: 0 0 0.5rem 0;}

input[type="submit"]:focus, button:focus, a.button:focus, input[type="button"]:focus, button.button:focus {
	background-color: @gray;
}
input[type="submit"]:active, button:active, a.button:active, input[type="button"]:active, button.button:active {
	background-color: @gray;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
	background-color: @lgray !important;
	cursor: pointer !important;
}


// Forms
input[type="text"], input.qty {
	-webkit-border-radius:0;
	border-radius: 0;
	box-shadow: none;
}
input[type="text"]:focus, input.qty:focus {box-shadow: none;}

form.cart {}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form.variations_form div.quantity {
	position: relative;
}

div.quantity {position: relative;}
div.quantity input.minus, div.quantity input.plus {
	display:block;
	height:25px;
	padding:0;
	width:30px;
	font-size:1rem;
	position: absolute;
}
div.quantity input.minus {top:25px;left:0;}
div.quantity input.plus {top:0;left:0;}

div.quantity input[type="number"] {
	width:25%;display:block;
	height:50px;
	position: absolute;
	left:30px;
	top:0;
	font-size: 1.2rem;
}
table.shop_table div.quantity input[type="number"] {
	width:3em;
}

button.single_add_to_cart_button {
	//margin-top:1em;
	padding:0.666em 1.333em;
	display: block;
	height:50px;
	float: right;
	width:60%;
	font-size:0.8rem;
}



/* Tablet Filter Content */
@media only screen and (min-width: 40.063em) {

}

/* Desktop Filter Content */
@media only screen and (min-width: 64.063em) {
	button.single_add_to_cart_button {font-size:1rem;}
}
