.woocommerce {
  table.cart {
    tr {
      td {
        vertical-align: middle;
      }
    }
    .cart_item {
      .product-remove {

        a {
          font-size: 4em;
          padding: 0 8px;
        }
      }
      .product-thumbnail {
        a {
          display: block;
          border: 1px solid @lgray;
        }
      }
      .product-name {
        margin-bottom: 1.25rem;
        a {
          font-size: 1.2rem;
        }
        dl {
          margin: 0;
          font-size: 0.8rem;
          line-height: 1.2rem;
          dt, dd {margin: 0;}
          p {margin: 0;}
        }
      }
      .product-price {
        span {
          font-size: 1.2rem;
          span {
            //margin-right: -1em;
          }
        }
      }
      .product-quantity {
        input {
          width: 3em;
          height: auto;
          position: relative;
          left: auto;
          top: auto;
          font-size: 1rem;
          margin: 0;
        }
      }
      .product-subtotal {
        span {
          font-size: 1.2rem;
          span {
            //margin-right: -0.333em;
          }
        }
      }
    }
  }

  .cart-collaterals {
    th {
      font-family: @sans;
      font-weight: 300;
    }
    td {
      font-size: 1.2rem;
    }
    .woocommerce-Price-currencySymbol {
      //margin-right: -0.666em;
    }
    strong {
      .woocommerce-Price-currencySymbol { margin-right: 0; }
    }
  }

  .woocommerce-info {
    margin-bottom: 1em;
  }

  .woocommerce-checkout {
    h3 {
      text-transform: uppercase;
    }
    .woocommerce-shipping-fields {
      h3#ship-to-different-address {

        input {
          display: inline-block;
        }
      }
    }
  }

  .shop_table {
    th {
      font-family: @sans;
      font-weight: 300;
    }
    td {
      font-size: 1.2rem;
    }
  }
}
