// Color Scheme

@black:	#292c2c;
@gray:	#7a8185;
@lgray:	#c9d1d6;
@white:	#ffffff;
@pink:	#f5a08c;
@red:	#d0492a;

// Other Variables

@colpad: 2*0.9375em;


// Typography

@sans: 'Roboto', sans-serif;

h1, h2, h3 {color:@black;font-weight: 100;letter-spacing: 2px;}

h1 {text-transform:uppercase;}
h1.widget-title {font-size:1.2rem;font-weight: 400;}

h2 {font-size:1.9rem;text-transform: uppercase;font-weight: 300;line-height: 1.2em;}

h4 {font-size:1.3rem;color:lighten(@gray,15%);text-transform: uppercase;font-weight: 300;letter-spacing: 1px;}

p {font-size:1.2rem;font-weight: 300;}
article p {font-size:1rem;}

a, a:visited, a:focus {color:@gray;}
a:hover {color:darken(@gray,25%);}

ul {
	list-style: none;
	margin-left: 0;
	}

h1.page-title, h1.entry-title {
	margin:0 0 0.333em 0;
	//top:-0.3em;
	position: relative;
  line-height: 1.1em;
  color: @gray;
}


// Transitions
.backgroundTrans {
	-webkit-transition: background 200ms ease-in;
	-moz-transition: background 200ms ease-in;
	-ms-transition: background 200ms ease-in;
	-o-transition: background 200ms ease-in;
	transition: background 200ms ease-in;
}
