// ----------------
// ---- Footer  ---
// ----------------

footer#bottomNav {padding-bottom:1em;font-family: @sans;font-weight: 500;text-align: center;}
footer#bottomNav ul {display: inline-block;vertical-align: top;font-size:90%;margin-bottom: 1.666em;text-align: left;}
footer#bottomNav ul li {float:left;text-transform: uppercase;color:@black;margin-right: 2em;}
footer#bottomNav ul li a {display: block;}

footer#bottomNav li.noclick > a {color:@black;cursor: default;}
footer#bottomNav li.noclick > a:hover {color:@black;}
footer#bottomNav li.noclick > a:focus {color:@black;}

footer#bottomNav ul li ul.sub-menu {margin-left:0;}
footer#bottomNav ul li ul.sub-menu li {margin-right: 0; float: none;text-transform: none;color:@gray;font-size:0.9rem;font-weight: 300;}

#colophon {clear:both;margin:0 0 1em 0;}
#colophon p {margin-bottom:0;font-size:0.7rem;color:@gray;text-align: center;}
