abbr.required {
  display: none;
}

.woocommerce-error {

  li {
    background-color: lighten(@lgray, 15%);
    padding:4px 5px 6px 8px;
    color: @red;
    font-size: 1.1em;
    line-height: 1.2em;
    font-family: @sans;
    border: 2px dotted @red;
  }
}
