// ----------------
// -- Home Page --
// ----------------

.featuredImage, .smallFeaturedImage {margin-bottom:@colpad;}

#topSection, #bottomSection {}
#topSection {padding-bottom: @colpad;}
#bottomSection {padding-top:1em;}

.footerBorder {background:transparent url('../images/border_bottom.svg') repeat-x left top;}

.entry-content {
    margin-top:0.5em;
    p {
        color:@gray;
    }
}

#socialSection {
	margin-top: 1em;
	margin-bottom:1.1em;
	text-align: center;
    h4 {margin-top:0.666em;}
    span {display: inline-block;font-size:2em;}
}
.footerRow #socialSection {
    padding-top: 1em;
    p {margin-bottom: 0;}
    #mc4wp_email {display: inline-block;width:100%;margin-bottom:1em;margin-right: 0.5em;}
    input[type='submit'] {display: inline-block;}
}


/* Tablet Filter Content */
@media only screen and (min-width: 40.063em) {
	.footerRow #socialSection {
        #mc4wp_email {width:80%;margin-bottom: 0;}
    }
}

/* Desktop Filter Content */
@media only screen and (min-width: 64.063em) {
	#homeContent {
		background:transparent url('../images/border_left.svg') no-repeat left 1em;
		padding-left:1.333em;
	}
	#homeContent h2 {padding-left:0.666em;}
    .footerRow #socialSection {
        #mc4wp_email {width:60%;}
    }
}
