// ----------------
// - Landing Page -
// ----------------

#landingWrapper {
	text-align: center;margin: 8% auto 1.666em auto;

	h2 {color:@gray;font-size:2.666rem;line-height: 3rem;}
	h4 {color:#000;font-size:1rem;margin: 1em 0 1.2em 0;}

	.logo {margin-bottom:1.666em;}
}

#cFormButton {
	width:100%;
	margin:0 auto 0 auto;
	letter-spacing: 1px;
	font-size: 1rem;


}
.l#cFormButton {margin-top:1em;}

#landingWrapper #formContainer {
	//display: none;
	//margin-top: 2em;

	input[type="email"] {
		text-align: center;
	}
}

/* Tablet Filter Content */
@media only screen and (min-width: 40.063em) {

	#landingWrapper #cFormButton {
		margin: 0 auto;
	}
}
