form.mc4wp-form {
	p {margin-bottom: 0;}
	label {margin-bottom:0.333em;}
	input#mc4wp_email {
		display: inline-block;
		width:80%;
		margin-right:6px;
	}
	input[type="submit"] {
	    background: url("../images/search_arrow.png") no-repeat scroll 0 0.6em / contain rgba(0, 0, 0, 0);
    	border: medium none;
    	display: inline-block;
    	text-indent: -9999px;

	}
	
	div.mc4wp-alert {color:darken(@pink,20%);}
}