// ----------------
// -- Navigation --
// ----------------

nav#site-navigation {
	margin:1em 0;
	background:transparent url('../images/nav_bottom.svg') no-repeat center bottom;
	//background-size: contain;
	text-align: center;display: block;text-transform: uppercase;font-family: @sans;
}
nav#site-navigation ul {text-align: center;float: none;}
nav#site-navigation ul li {display: inline-block;margin-left:0.5em;margin-right:0.5em; font-size:0.9rem;padding-bottom: 0.5em;font-weight: 300;}
.main-navigation li {float:none;}

img#shop-now {

}

ul.product-categories {font-family: @sans;margin: 1em 0 0 1em;}
ul.product-categories li a {font-size:0.9rem;font-weight: 300;}
ul.product-categories li ul {font-size: 1rem;}
ul.product-categories li ul.children {display: none;margin-left: 1rem;}
ul.product-categories li ul.children li a {color:@pink;}
ul.product-categories li ul.children li a:before {content:'\2013';}
ul.product-categories li.current-cat ul.children {display: block;}
ul.product-categories li.current-cat-parent ul.children {display: block;}


/* Tablet Filter Content */
@media only screen and (min-width: 40.063em) {
	nav#site-navigation ul {text-align: right;}
	nav#site-navigation ul li {
		margin-left: 1em;
		margin-right: 0;
		padding-right:3.6em;
		background:transparent url('../images/nav_hashes.svg') no-repeat right 6px;
	}
	nav#site-navigation ul li {padding-bottom: 0.3em;}
}
/* Desktop Filter Content */
@media only screen and (min-width: 64.063em) {

}



// ----------------
// ---- Header ----
// ----------------

header#masthead {
	margin-top:1em;
	text-align: center;
	.site-branding{ padding-top: 1em; }
}
header#masthead div#headerRight {text-align: right;}

form#searchform {position: relative;margin:1.333em 0 0 ; padding-top:1em;}
input#s {
	display: inline-block;width:15em;margin-right:0.333em;
	&:placeholder {
		text-transform: uppercase;

	}
}
input#searchsubmit {
	background:transparent url("../images/icon_sprite.svg") no-repeat -116px -38px;
	background-size: 148px 80px;
	border:none;
	text-indent: -9999px;
	display: inline-block;
	width:34px;
	height:40px;
	transition: none;

	&:hover {background-position: -116px 2px;}
}

table#metaNav {border: none;}
table#metaNav td a {text-align: center;display: block;text-transform: uppercase;font-family: @sans;font-size:0.9rem;}

nav.woocommerce-breadcrumb {
	color:lighten(@gray,25%);
	font-family: @sans;
	margin-bottom:1em;
	font-size:0.8rem;
	text-align:center;
}
nav.woocommerce-breadcrumb a {	text-decoration: underline;}

/* Tablet Filter Content */
@media only screen and (min-width: 40.063em) {
	header#masthead {text-align:left;}
	form#searchform {margin:0;}
	input#s {
		width:18em;

	}

	nav.woocommerce-breadcrumb {text-align: right;margin-bottom:2em;}
}

/* Desktop Filter Content */
@media only screen and (min-width: 64.063em) {
	table#metaNav {margin:0;}
	table#metaNav td {
		display: inline-block;
		margin-left:1em;
		position: relative;
		vertical-align: bottom;

		a::before {
			content:'';
			display: block;
			background-image: url("../images/icon_sprite.svg");
			background-repeat: no-repeat;
			background-size: 148px 80px;
			margin:0 auto;
		}
	}

	table#metaNav td#account a::before 			{background-position: 0 0;  width:34px;height:40px;} // padding-top:28px;
	table#metaNav td#account a:hover::before	{background-position: 0 -40px; }

	table#metaNav td#wish a::before 				{background-position: -36px 0;  width:42px;height:40px;} // padding-top:38px;
	table#metaNav td#wish a:hover::before	{background-position: -36px -40px; }

	table#metaNav td#basket a:before 			{background-position: -75px 0;  width:40px;height:40px;} // padding-top:26px;
	table#metaNav td#basket a:hover::before {background-position: -75px -40px; }
}


// ----------------
// ----- Tabs -----
// ----------------

.woocommerce-tabs h2 {
	display: none;
}
.woocommerce-tabs .panel {margin-top:0;padding:0;background:@white;border:none;}
.woocommerce-tabs .panel p {font-size:1.1rem;line-height: 1.3em;}

ul.tabs {

}

ul.tabs li {
	//display:inline-block;
	display: none;
	background-color:#F2F2F2;
	padding:0 0.333em;
	border-left:1px solid #D8D8D8;
	border-top:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
}
ul.tabs li a {color:@black;}
ul.tabs li a:hover {color:@gray;}
ul.tabs li a:focus {color:@black;}
