// ----------------
// ---- Shopping  ---
// ----------------

// Archives

.productList {
    padding-bottom: 2em;

    h1.page-title {
      top:-0.1em;
    }
}

span.price {
  span {font-family: @sans;}
}
.amount {font-family: @sans;}

ul.products li.product {
	margin-top:1.2em;
	//float:left;
	margin-right: 1em;
	text-align: center;
	display: inline-block;
    //border:1px solid @lgray;
    //background-color:#fafafa;
    //padding:0.666em;
    vertical-align: text-top;

    img {border:1px solid @lgray;}

    a.woocommerce-LoopProduct-link {
      img {
        //padding
      }
      h3 {
        height: 2.333em;
        //display: table-cell;
        vertical-align: middle;
      }
    }

		.woocommerce-Price-currencySymbol {
			//margin-right: -0.75em;
		}
    .amount {
      font-size:0.8em;
    }
}
ul.products li.product:first-child {clear:left;}
ul.products li.product span.price {
  //font-family: @sans;
  font-size:1.2rem;
  color:@pink;
}
ul.products li.product h3 {font-size:1rem;font-weight: 300;letter-spacing: 0;margin-bottom: 0;margin-top:0.333em;line-height: 1.2rem;}
ul.products li.product .button {font-size:0.75rem;}
ul.products li.product span.price:after {content: '\A';white-space: pre;}

ul.products li.type-product {width:150px;}

select.orderby {display: none;}



ul.products li.product-category {
	/*margin-right: 1em;
	text-align: center;
    background-color:transparent;
    border:none;
    padding:0;*/
    display: none;
}
//ul.products li.product-category.last::after {display:block;content: '<br>';}
//li.product-category::after {display:block;content: '<br>';}
//li.theLast {clear:both;}
//li.theLast::after {clear:both;content:' ';}

ul.products li.product.product-category h3 {
	font-size:1rem;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: uppercase;
}
ul.products mark.count {background-color: transparent;color:@pink;}
ul.products li.product-category img {display: none;}




// Single Product Listing

.single-product {
	.wp-post-image {
		border: 1px solid @lgray;
	}
}

h1.product_title {
	margin:0;
	font-size:1.8rem;
	line-height: 1em;
}


div.summary {
	margin-top:0.333em;
}
p.price, .woocommerce-variation-price {
	font-size:1.6rem;
	color:@pink;
	text-align: left;
	margin:0;padding:0;
}

.sku_wrapper {display: none;}

.posted_in {
	font-family: @sans;
	font-size: 0.9rem;
	margin-bottom: 1.3em;
	display: block;
}
.posted_in a {font-weight:300;}

table.variations td.label {
	//background-color:@gray;
	background-color:transparent;
}
table.variations td.label label {
	//color:@white;
}

a.woocommerce-main-image {
	display: block;
	margin-bottom: 1em;
}
.thumbnails {
	a {
		display:inline-block;
		border:1px solid lighten(@gray,40%);
		margin-bottom: 0.2em;
		margin-right: 0.2em;
	}
}

div.addon-description p {font-style:normal;}

.woocommerce-variation-price {
	margin-bottom: 0.333em;
	.woocommerce-Price-currencySymbol {
		//margin-right:-0.75em;
	}
}

.woocommerce-variation-add-to-cart {
	.flex-display;

	div, button {
		float:none;
	}
	button {
		flex: 3;
	}
	div.quantity {
		flex: 1;
		padding-right: 10px;
		input[type="number"] {
			position: relative;
			width: 100%;
			left: 0;
		}
	}
}

.woocommerce-message {
	//font-family: @sans;
	color: @gray;
	padding-bottom: 2em;
	.wc-forward {
		display: block;
	}
}


// Lightbox
.pp_pic_holder {
	.ppt {display:none !important;}
	.pp_top {display:none !important;}
}
.pp_details {
	padding-top:0;
}
.pp_nav .currentTextHolder {
	font-family: @sans;
	font-size: 1em;
	margin-top:-0.333em !important;
}


// Pagination
.woocommerce-pagination {
	clear:both;

	ul.page-numbers {
		li {
			display: inline-block;

			span.page-numbers, a.page-numbers {
				width:2em;
				//height:2em;
				color:@white;
				display: block;
				text-align: center;
				background-color: @gray;
				//padding-top:2px;
				padding:0.2em 0.3em;
				border:1px solid @gray;
				font-family: @sans;
			}
			span.current {background-color:@pink;}
			a:hover {background-color:@pink;}
			a.next {
				//padding-top:0;
			}
		}
	}
}

// Product addon
.product-addon {
  .addon-name {

  }
  .addon-description p {
    line-height: 1.2em;
    font-style: italic;
  }
}

h3.addon-name {
  font-size: 1.4rem;
}

// Related products
.related.products h2 {
    font-size: 1.5rem;
}

/* Tablet Filter Content */
@media only screen and (min-width: 40.063em) {

}

/* Desktop Filter Content */
@media only screen and (min-width: 64.063em) {

}
